*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
.top{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  background: rgb(109,204,70);
background: linear-gradient(90deg, rgba(109,204,70,1) 0%, rgba(91,182,74,1) 20%, rgba(52,156,45,1) 40%, rgba(82,164,125,1) 60%, rgba(84,199,173,1) 80%);
  margin-bottom: 30px;
}


.prod{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.prod a:hover img{
  opacity: 0.6;
}
.prod li{
  list-style: none;
}
img{
 width: 270px;
}
.colori{
  padding: 10px;
  margin: 3px;
  color: #fff;
  border-radius: 3px;
}
.colori:hover{
  cursor: pointer;
}
.disabledButton {
  color: gray;
}
.review-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
